body {
    background-color: #E3E3E3;
}

#info_box {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    border-radius: 5px;
    position: absolute;
    display: none;
    padding: 5px 10px;
    width: max-content;
}